hello-cocos/build/jsb-default/frameworks/runtime-src/proj.ios_mac/Unity/Libraries/libil2cpp
hello-cocos/build/jsb-default/js backups (useful for debugging)
hello-cocos/build/jsb-default/frameworks/cocos2d-x
hello-unity/Build
hello-unity/Library
hello-unity/Temp
hello-cocos/build/jsb-default/frameworks/runtime-src/proj.ios_mac/Unity/Libraries/libil2cpp.a
hello-cocos/build/jsb-default/frameworks/runtime-src/proj.ios_mac/Unity/Libraries/libiPhone-lib.a
